---
import { astroI18n, t, l } from "astro-i18n";
import Layout from "../../components/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Street } from "../../../types";

astroI18n.init(Astro);

const { langCode } = astroI18n;

const streets: Street[] = [
  {
    images: [
      {
        src: "newark-1.jpg",
        alt: {
          fr: "",
          en: "A couple walking on Newark ave at night with string lights hanging above the street",
        },
      },
      {
        src: "newark-2.jpg",
        alt: {
          fr: "",
          en: "People walking and dining on Newark ave. A person walking a dog in the foreground. Jersey city visible in the background.",
        },
      },
      {
        src: "newark-3.jpg",
        alt: {
          fr: "",
          en: "A couple walking in shorts, a boy on a scooter, and a mother pushing a stroller on a tree-lined Newark ave.",
        },
      },
    ],

    name: {
      fr: "Avenue Newark",
      en: "Newark Avenue",
    },
    location: {
      fr: "Jersey City (New Jersey)",
      en: "Jersey City, New Jersey",
    },
    body: {
      fr: `Pour la première fois en 2014, la ville de Jersey a fermé un bloc de l'avenue Newark aux voitures les après-midi et les week-ends. Bien que cette mesure ait reçu un accueil mitigé de la part des commerçants et des habitants du quartier, les piétons et les cyclistes ont été satisfaits et la ville a rendu la rue piétonne en 2015.
        
      En 2018, la place a été étendue à 400 mètres de long. En 2022, une rénovation de 7 millions de dollars américains a été achevée, avec l'ajout de nouveaux bancs, de supports à vélos, de végétation, d'arbres et d'une scène pour les événements communautaires. La ville a également rehaussé la rue avec des pavés de granit pour permettre l'accessibilité universelle. 

      Le maire du ville de Jersey Steven Fulop a déclaré « La création de la place piétonne était un risque que notre administration a pris lorsqu'elle a été élue pour la première fois, car il y a eu beaucoup de réticences, mais je pense qu'avec le temps, il est devenu clair pour tout le monde que les changements que nous avons apportés ont attiré plus de gens, ont permis à plus d'entreprises d'ouvrir et ont créé un lieu de destination pour les visiteurs et les résidents ».`,

      en: `First trialed in 2014, Jersey City closed a block of Newark Avenue to cars on afternoons and weekends. Though it got mixed reviews from business owners and residents of the block, pedestrians and bicyclists were happy and the city pedestrianized the street in 2015.
        
      In 2018, the plaza was expanded to 400 metres in length, and in 2022, a USD$7 million renovation was completed, adding new benches, bike racks, vegetation, trees, and a stage for community events. The city also raised the street with granite pavers for universal accessibility. 

      According to Jersey City's mayor, Steven Fulop: “The creation of the Pedestrian Plaza was a risk our administration took when first elected as there was significant pushback, but I think over time it has become clear to everyone that the changes we made there have attracted more people, allowed more businesses to open, and created a destination spot for visitors and residents.”`,
    },
  },
  {
    images: [
      {
        src: "stroget-1.jpg",
        alt: {
          fr: "",
          en: "A busy, crowded day on the central square of Strøget. A bicycle is parked in the forground with buildings and a church tower in the background.",
        },
      },
      {
        src: "stroget-2.jpg",
        alt: {
          fr: "",
          en: "A busy, day on the central square of Strøget, with people walking in all directions.",
        },
      },
      {
        src: "stroget-3.jpg",
        alt: {
          fr: "",
          en: "The same location in a historic photo. Vintage cars and a bus head in different directions at the intersection. People are walking on the sidewalk, including a woman walking her bike.",
        },
      },
    ],

    name: {
      fr: "Strøget",
      en: "Strøget",
    },
    location: {
      fr: "Copenhague (Danemark)",
      en: "Copenhagen, Denmark",
    },
    body: {
      fr: `Avec plus d'un kilomètre, Strøget est l'une des plus longues rues piétonnes d'Europe. Faisant partie des nombreux kilomètres de rues piétonnes de Copenhague, sa transformation en 1962 a marqué le début d'un changement culturel dans le mode de vie des habitants de la ville. Les voitures prenaient le dessus, les cyclistes étaient de moins en moins nombreux et la ville était encombrée et polluée. 
        
      Lors de sa conception, l'idée d'une rue piétonne n'était pas généralement acceptée. Le slogan et le cri de ralliement étaient que "les Danois ne sont pas des Italiens", car Copenhague n'avait pas la culture sociale de plein air que l'on trouve ailleurs en Europe. Les gens craignaient que ce changement ne soit un désastre pour les commerces de la rue. 
      
      L'urbaniste Alfred Wassard a même été menacé de mort. Une prise de décision politique visionnaire était nécessaire et la détermination des principaux responsables politiques était vitale pour la réussite de cette transformation.`,

      en: `At over 1km, Strøget is among the longest pedestrian streets in Europe. Part of Copenhagen's several kilometers of pedestrian streets, its transformation in 1962 marked the start of a cultural shift in the way of life for those in the city. Cars were taking over, fewer people were cycling and the city was congested and polluted. 
        
      At its conception, the idea of a pedestrian street was not generally accepted. The slogan and rallying cry of those opposed was that "Danes are not Italians", as Copenhagen lacked the outdoor social culture seen elsewhere in Europe. People feared the change would be a disaster for the businesses in the street. 
      
      The town planner, Alfred Wassard, even faced death threats. Visionary political decision-making was needed and the determination of key politicians was vital for this successful transformation of the street and city.`,
    },
  },
  {
    images: [
      {
        src: "church-1.jpg",
        alt: {
          fr: "",
          en: "A fall day on Church street. Young people are socializing on the tree-lined brick street. A man is resting on a bench with his dog.",
        },
      },
      {
        src: "church-2.jpg",
        alt: {
          fr: "",
          en: "A beautiful aerial photo of Church street on a summer day. The street is hosting a community yoga event. A large group of women are sitting on yoga mats peforming a pose in unison, with the church tower in the background. ",
        },
      },
      {
        src: "church-3.jpg",
        alt: {
          fr: "",
          en: "A couple on Church street looking each other in the eyes, posing with their bicycles by their sides.",
        },
      },
    ],

    name: {
      fr: "Church Street",
      en: "Church Street",
    },
    location: {
      fr: "Burlington (Vermont)",
      en: "Burlington, Vermont",
    },
    body: {
      fr: `Avec une densité de population équivalente à un sixième de celle de Verdun, la rue Church de Burlington est un brillant exemple de rue piétonne de petite ville dans un climat froid. 
        
      Inspirée par les changements observés à Copenhague, la rue Church a commencé par une foire d'une journée parrainée par l'association des commerçants en 1970. L'année suivante, la rue a été piétonne pendant une semaine, avec l'ajout de transports en commun dans les rues avoisinantes. L'expérience a été un succès évident. 
      
      Après des années de dialogue et de planification, la rue est devenue une rue piétonne permanente. Aujourd'hui, des millions de visiteurs viennent pour socialiser, célébrer, passer le temps et faire des achats dans l'un des plus de cent magasins et restaurants de la rue.`,

      en: `With a population density one sixth of Verdun's, Burlington's Church street is a shining example of a small city pedestrian street in a cold climate. 
        
      Inspired by the changes seen in Copenhagen, Church Street started as a one-day street fair sponsored by the Merchants Association in 1970. The following year, the street was pedestrianized for a week, with transit added on surrounding streets. 
      
      The experiment was an obvious success, and after years of dialogue and planning, it was transformed into a permanent pedestrian street. Today, millions of visitors come to socialize, celebrate, pass time, and shop at one of over a hundred shops and restaurants on the street.`,
    },
  },
  {
    images: [
      {
        src: "pearl-1.jpg",
        alt: {
          fr: "",
          en: "A winter night on Pearl street. Bare trees decorated with Christmas lights line the middle of the street. A bulletin board and newspaper stand are in the foreground, with few people walking and socializing by the storefronts in the distance.",
        },
      },
      {
        src: "pearl-2.jpg",
        alt: {
          fr: "",
          en: "Children playing in Pearl street's sandbox. A boy is climbing a brass statue of a frog in the foreground, with a girl and mothers sitting on the side.",
        },
      },
      {
        src: "pearl-3.jpg",
        alt: {
          fr: "",
          en: "Pearl street being plowed by a small snowplow on a stormy winter day.",
        },
      },
    ],

    name: {
      fr: "Pearl Street Mall",
      en: "Pearl Street Mall",
    },
    location: {
      fr: "Boulder (Colorado)",
      en: "Boulder, Colorado",
    },
    body: {
      fr: `Nommé l'un des "grands espaces publics" des États-Unis par l'American Planning Association, le Pearl Street Mall à Boulder, dans le Colorado, est une rue commerciale qui accueille une variété de commerces et de restaurants locaux. Il a été transformé en 1977 afin de revitaliser le quartier historique qui était menacé par des centres commerciaux de type suburbain. 
        
      La rue est remplie d'art public, notamment de nombreuses fontaines et sculptures, ainsi que d'un bac à sable pour les enfants. Pendant les mois d'été, la rue est le théâtre d'un certain nombre d'artistes et de musiciens de rue. 
      
      Malgré les hivers rigoureux de la ville, qui compte 12 % de neige en plus par an que Montréal, le Pearl Street Mall de Boulder démontre que de tels espaces sont adaptables et réalisables quel que soit le climat.`,

      en: `Named one of America's "Great Public Spaces" by the American Planning Association, the Pearl Street Mall in Boulder, Colorado is a commercial street that hosts a variety of local businesses and restaurants. It was transformed in 1977 as a means to revitalize the historic district threatened by suburban-style shopping centers. 
        
      The street is filled with public art, including numerous fountains and sculptures as well as a sandbox for children. During the summer months, the street is a stage for a number of street performers and musicians. 
      
      Despite the city's extreme winters, with 12% more snow per year than Montreal, Boulder's Pearl Street Mall demonstrates how such spaces are adaptable and feasible no matter the climate.`,
    },
  },

  {
    images: [
      {
        src: "sauchiehall-1.jpg",
        alt: {
          fr: "",
          en: "People walking with umbrellas on a brick-lined street bound by historic buildings and banners on a rainy day.",
        },
      },
      {
        src: "sauchiehall-2.jpg",
        alt: {
          fr: "",
          en: "People walking on the brick-lined street. An elderly couple walking together in the foreground. Friends are sitting and chatting on a bench in the middle of the street.",
        },
      },
      {
        src: "sauchiehall-3.jpg",
        alt: {
          fr: "",
          en: "People walking on a stormy winter day. The street is covered in a thin layer of snow. A couple people are carting luggage in the foreground.",
        },
      },
    ],

    name: {
      fr: "Les rues Sauchiehall, Argyle & Buchanan",
      en: "Sauchiehall, Argyle & Buchanan streets",
    },
    location: {
      fr: "Glasgow (Écosse)",
      en: "Glasgow, Scotland",
    },
    body: {
      fr: `Rendu piétonnier dans les années 1970, ce réseau de rues du centre-ville de Glasgow couvre une vaste zone de la ville pluvieuse du nord. En 1999, la rue Buchanan a été entièrement repavée avec des pierres de granit de haute qualité et des éclairages décoratifs.

      En raison de l'évolution du [comportement / des préférences] des consommateurs, il a été [annoncé] en 2022 que le centre commercial de la rue, Buchanan Galleries, vieux de 20 ans, serait démoli et remplacé par des bâtiments à usage mixte, y compris des résidences. [+ de détails. des appartements ? qu'est-ce qui le remplacera ?]

      Ce changement montre comment les villes peuvent adapter leur zonage et leur activité commerciale pour soutenir la vitalité d'espaces publics à usage mixte et praticables.`,

      en: `Pedestrizanized in the 1970s, this network of streets in downtown Glasgow covers an extensive area of the rainy, northern city. In 1999, Buchanan street was repaved with high quality granite stonework and decorative lighting.

      Due to changing consumer behaviours, the street's 20 year old shopping mall, Buchanan Galleries, is scheduled to be demolished and replaced with mixed-use buildings, including residences. [+ details. apartments? what's replacing it?]

      This change shows how cities can adapt their zoning and commercial activity to support the vitality of walkable mixed-use public spaces.`,
    },
  },
  {
    images: [
      {
        src: "sparks-1.jpg",
        alt: {
          fr: "",
          en: "A woman walking on Sparks street. A variety of historic and modern buildings line the street. The ornate street lamps are decorated with bundles of pink flowers. Several other people are walking in the background, including a man holding a coffee.",
        },
      },
      {
        src: "sparks-2.jpg",
        alt: {
          fr: "",
          en: "A couple walking with their children on a winter day. To their side is a large ice sculpture of a fish rising from the water.",
        },
      },
      {
        src: "sparks-3.jpg",
        alt: {
          fr: "",
          en: "A black and white historic photo of Sparks Street. The street is lined with telephone poles and wires overhead. A man rides a bicycle in the foreground. A streetcar approches in the background with workers clearing the dirt road and tracks of debris.",
        },
      },
    ],

    name: {
      fr: "Rue Sparks",
      en: "Sparks Street",
    },
    location: {
      fr: "Ottawa (Ontario)",
      en: "Ottawa, Ontario",
    },
    body: {
      fr: `La rue Sparks est une rue principale d'Ottawa et la première au Canada à avoir été convertie en rue piétonne en 1967. 
        
      Cette rue piétonne de 850 mètres accueille un certain nombre de restaurants, de boutiques et d'événements tout au long de l'année, notamment un concours de sculpture sur glace dans le cadre du festival annuel du Bal de Neige.

      Elle abrite également plusieurs bâtiments historiques, institutionnels et de bureaux, bien que leur grande empreinte et leur présence aient été critiquées pour leur impact sur la vie de la rue, en particulier les week-ends. Comme dans le centre-ville de Montréal, l'ajout d'unités résidentielles devrait améliorer la vitalité du quartier.`,

      en: `Sparks Street is a main street of Ottawa and the first in Canada to be converted to a pedestrian street in 1967. 
        
      The 850m pedestrian street hosts a number of restaurants, shops, and events throughout the year, including an ice carving competition as part of the Winterlude annual festival.

      It is also home to several historic, institutional, and office buildings, though their large footprint and presence have been critiqued for impacting life on the street, especially on weekends. As in Montreal's downtown, the addition of residential units is expected to improve the neighbourhood's vitality.`,
    },
  },
  {
    images: [
      {
        src: "state-1.jpg",
        alt: {
          fr: "",
          en: "A tree-lined State street on a summer day. People are walking in different directions. In the background, a couple of delivery vehicles are parked to the side, with the state capitol building in the distance.",
        },
      },
      {
        src: "state-2.jpg",
        alt: {
          fr: "",
          en: "A quieter day on State street. People walk on the street in different directions. A car crosses an intersection near a food stand set up by the edge of the street.",
        },
      },
      {
        src: "state-3.jpg",
        alt: {
          fr: "",
          en: "A view of the capitol building and its steps from State street. A group of cyclists and a skateboarder use the middle of the street, with many other people walking, sitting, and socializing on the raised sidewalks. ",
        },
      },
    ],

    name: {
      fr: "State Street",
      en: "State Street",
    },
    location: {
      fr: "Madison (Wisconsin)",
      en: "Madison, Wisconsin",
    },
    body: {
      fr: `D'une longueur égale à celle de Wellington, soit 1,2 km, la rue State à Madison, capitale du Wisconsin, est une rue piétonne. State street dans la capitale du Wisconsin, Madison, est une rue piétonne convertie en 1974 à partir d'une route à quatre voies. La rue accueille une variété de boutiques, de bars et de restaurants et est appréciée pour son attrait de petite ville, ses musiciens de rue et ses spectacles, ce qui en fait une attraction touristique populaire. 
        
      À Halloween, State Street accueille le Freakfest, un festival d'Halloween parrainé par la ville et auquel participent des dizaines de milliers de personnes costumées.

      Une partie de la zone piétonne de State Street est desservie par les bus de la ville, mais au cours de l'été 2023, il est prévu de les supprimer afin de maximiser l'espace pour les restaurants et les activités dans la rue.`,

      en: `Spanning the same length as Wellington at 1.2 km, State Street in Wisconsin's capital city Madison, is a pedestrian street converted from a four-lane road in 1974. The street hosts a variety of shops, bars, and restaurants and is popular for its small-town appeal, street musicians and performances, making it a popular tourist attraction. 
        
      On Halloween, State Street hosts Freakfest, a city-sponsored Halloween festival attended by a costumed crowd of tens of thousands of people.

      Part of State Street's pedestrian zone has been served by city buses, with service deviated in summer 2023 as part of a trial to maximize space for activites and on-street dining.`,
    },
    // https://www.masstransitmag.com/management/news/53063956/wi-madison-inches-closer-to-testing-part-of-state-street-as-a-pedestrian-mall
  },
  {
    images: [
      {
        src: "ste-catherine-1.jpg",
        alt: {
          fr: "",
          en: "A crowded Sainte Catherine street open to pedestrians on a cold day. A number of food stalls, a pine tree and festive decorations are set up in the street. Car traffic is visible in the distance at the limits of the pedestrian zone.",
        },
      },
      {
        src: "ste-catherine-2.jpg",
        alt: {
          fr: "",
          en: "A winter night on the pedestrian zone of Saint Catherine street. The street is illuminated with intense blue lights. People walk in front of the entrance of Place des arts. A mound of plowed snow is pushed neatly to the side. ",
        },
      },
      {
        src: "quartier-chinois-1.jpg",
        alt: {
          fr: "",
          en: "The busy pedestrian zone of de la Gauchetiere street in Chinatown on a hazy winter day. The gates to the neighbourhood and buildings downtown are seen in the distance. Restaurants and shops line the street with people eating and window shopping.",
        },
      },
    ],

    name: {
      fr: "Les rues piétonnes chez nous",
      en: "Pedestrian streets at home",
    },
    location: {
      fr: "Montréal (Québec)",
      en: "Montreal, Quebec",
    },
    body: {
      fr: `Montréal compte déjà plusieurs zones piétonnes récurrentes et permanentes à long terme. La rue Sainte-Catherine dans le Quartier des spectacles, entre De Bleury et le boulevard Saint-Laurent, fait l'objet d'un essai de piétonnisation à long terme tout au long de l'hiver jusqu'en avril 2024.
      
      La rue de la Gauchetière dans le quartier chinois est piétonne depuis plusieurs décennies [depuis quelle décennie ?], tout comme la rue Prince-Arthur. 

      Au cours des dernières années, Montréal a piétonnisé plus de 8 kilomètres de rues, y compris la rue Wellington pendant les mois d'été, et a annoncé son intention de piétonniser une partie du Vieux-Montréal au cours des prochaines années.

      Montréal est une ville dynamique avec une culture de la vie de rue, des festivités et des restaurants. Elle dispose d'un système de transport en commun populaire et d'une culture cycliste en plein essor. Elle s'est engagée à réduire l'utilisation et la priorité des voitures particulières. Zones piétonnes`,

      en: `Montreal is already home to several long term, recurring and permanent pedestrian zones. Rue Sainte-Catherine in Quartier des Spectacles, between De Bleury and boulevard Saint-Laurent, is being trialed as a long term pedestrian street throughout the winter until April 2024.
        
      De la Gauchetière in Chinatown has been pedestrianized for several decades [since what decade?], along with Rue Prince-Arthur. 

      For the past few years, Montreal has pedestrianized over 8 kilometers of streets including Rue Wellington in the summer months, and has announced plans to pedestrianize part of Old Montreal over the coming years.

      Montreal is an active and festive city with street life and a culture of dining out. It has a popular transit system, growing cycling culture and its elected officials have made commitments to reducing the priority of passenger cars.`,
    },
  },
];
---

<Layout title={t("aroundTheWorldHeading")}>
  <Header />
  <main>
    <section class="go-home">
      <a href={l("/")}>👈 {t("goHome")}</a>
    </section>
    <section>
      <h2>{t("aroundTheWorldHeading")}</h2>
      <p>{t("aroundTheWorldBody")}</p>
    </section>
    <section class="full-width-mobile">
      <div class="street-cards">
        {
          streets.map((street) => {
            const { images, name, location, body } = street;

            return (
              <div class="street-card">
                <div class="images">
                  {images.map(({ src, alt }) => (
                    <img
                      src={`/img/around-the-world/${src}`}
                      alt={alt[langCode]}
                      loading="lazy"
                    />
                  ))}
                </div>
                <div class="image-buttons">
                  {images.map(({ src }) => (
                    <button class="image-button" data-src={src} />
                  ))}
                </div>
                <div class="street-card-body">
                  <h3 class="name">{name[langCode]}</h3>
                  <p class="location">{location[langCode]}</p>
                  <p class="body" set:html={body[langCode]} />
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script is:inline>
const $streetCards = document.querySelectorAll(".street-cards");
const scrollIntoView = ($el) => {
  try {
    $el.scrollIntoViewIfNeeded();
  } catch (e) {
    $el.scrollIntoView();
  }
};

$streetCards.forEach(($streetCard) => {
  const $cardImages = $streetCard.querySelectorAll(".images img");
  const $imageButtons = $streetCard.querySelectorAll(".image-button");

  $cardImages.forEach(($cardImage) => {
    $cardImage.addEventListener("click", () => {
      const $nextImg =
        $cardImage.nextElementSibling ||
        $cardImage.parentElement.firstElementChild;

      scrollIntoView($nextImg);
    });
  });

  $imageButtons.forEach(($imageButton, i) => {
    $imageButton.addEventListener("click", () => {
      const $targetImg = $cardImages[i];
      // TODO mobile $targetImg should be next image ?

      scrollIntoView($targetImg);
    });
  });
});
</script>

<style>
  section.full-width-mobile {
    margin: 0rem;
  }
  @media (min-width: 780px) {
    section.full-width-mobile {
      margin: 0rem auto;
      /* max-width: 1024px; */
      max-width: calc(1024px + 2rem);
      padding: 1rem;
    }
  }

  .street-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
  }
  @media (min-width: 780px) {
    .street-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  .street-card .images {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .street-card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: bottom;
    scroll-snap-align: center;
  }

  .street-card .image-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }

  .street-card .image-button {
    display: block;
    appearance: none;
    padding: 0;
    border: 0;
    background-color: var(--color-text);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .street-card-body {
    margin: 0 1rem;
  }

  @media (min-width: 780px) {
    .street-card-body {
      margin: 0;
      margin-right: 1rem;
    }
  }

  .street-card .name {
    margin-block-start: 1rem;
    margin-block-end: 0;
  }

  .street-card .location {
    margin-top: 0;
  }

  .street-card .body {
    white-space: pre-line;
  }
</style>
