---
import { astroI18n, t, l } from "astro-i18n";
import Layout from "../../components/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Street } from "../../../types";

astroI18n.init(Astro);

const { langCode } = astroI18n;

const streets: Street[] = [
  {
    images: [
      {
        src: "ste-catherine-1.jpg",
        alt: {
          fr: "",
          en: "A crowded Sainte Catherine street open to pedestrians on a cold day. A number of food stalls, a pine tree and festive decorations are set up in the street. Car traffic is visible in the distance at the limits of the pedestrian zone.",
        },
      },
      {
        src: "ste-catherine-2.jpg",
        alt: {
          fr: "",
          en: "A winter night on the pedestrian zone of Saint Catherine street. The street is illuminated with intense blue lights. People walk in front of the entrance of Place des arts. A mound of plowed snow is pushed neatly to the side. ",
        },
      },
      {
        src: "quartier-chinois-1.jpg",
        alt: {
          fr: "",
          en: "The busy pedestrian zone of de la Gauchetiere street in Chinatown on a hazy winter day. The gates to the neighbourhood and buildings downtown are seen in the distance. Restaurants and shops line the street with people eating and window shopping.",
        },
      },
    ],

    name: {
      fr: "Les rues piétonnes chez nous",
      en: "Pedestrian streets at home",
    },
    description: {
      fr: "",
      en: "Following in our own footsteps.",
    },
    location: {
      fr: "Montréal (Québec)",
      en: "Montreal, Quebec",
    },
    body: {
      fr: ``,

      en: `Montreal is already home to several long term, recurring and permanent pedestrian zones. Rue Sainte-Catherine in Quartier des Spectacles, between De Bleury and boulevard Saint-Laurent, is currently being trialed as a long term pedestrian street.
        
De la Gauchetière in Chinatown has been pedestrianized since the mid-1980s, along with Rue Prince-Arthur in the Plateau.

For the past few years, Montreal has pedestrianized over 8 kilometers of streets in the summer months, including Avenue Mont-Royal and Rue Wellington. The city has also announced plans to pedestrianise part of Old Montreal over the coming years.

Montreal is an active and festive city with lively streets and a culture of dining out. It has a popular transit system, growing cycling culture, and its elected officials have made commitments to reducing the priority of passenger cars.
`,
    },
  },
  {
    images: [
      {
        src: "pearl-1.jpg",
        alt: {
          fr: "",
          en: "A winter night on Pearl street. Bare trees decorated with Christmas lights line the middle of the street. A bulletin board and newspaper stand are in the foreground, with few people walking and socializing by the storefronts in the distance.",
        },
      },
      {
        src: "pearl-2.jpg",
        alt: {
          fr: "",
          en: "Children playing in Pearl street's sandbox. A boy is climbing a brass statue of a frog in the foreground, with a girl and mothers sitting on the side.",
        },
      },
      {
        src: "pearl-3.jpg",
        alt: {
          fr: "",
          en: "Pearl street being plowed by a small snowplow on a stormy winter day.",
        },
      },
    ],

    name: {
      fr: "Pearl Street Mall",
      en: "Pearl Street Mall",
    },
    description: {
      fr: "",
      en: "A fully pedestrianized street in a city snowier than Montreal.",
    },
    location: {
      fr: "Boulder (Colorado)",
      en: "Boulder, Colorado",
    },
    body: {
      fr: ``,

      en: `Named one of America's "Great Public Spaces" by the American Planning Association, the Pearl Street Mall in Boulder, Colorado is a commercial street that hosts a variety of local businesses and restaurants. It was transformed in 1977 as a means to revitalize the historic district threatened by suburban-style shopping centers. 

The street is filled with public art, including fountains and sculptures as well as a sandbox and play areas for children. During the summer months, the street is a stage for street performers and musicians.

Despite the city's extreme winters, with 12% more snow per year than Montreal, Boulder's Pearl Street Mall demonstrates how such spaces are adaptable and feasible no matter the climate.`,
    },
  },
  {
    images: [
      {
        src: "newark-1.jpg",
        alt: {
          fr: "",
          en: "A couple walking on Newark ave at night with string lights hanging above the street",
        },
      },
      {
        src: "newark-2.jpg",
        alt: {
          fr: "",
          en: "People walking and dining on Newark ave. A person walking a dog in the foreground. Jersey city visible in the background.",
        },
      },
      {
        src: "newark-3.jpg",
        alt: {
          fr: "",
          en: "A couple walking in shorts, a boy on a scooter, and a mother pushing a stroller on a tree-lined Newark ave.",
        },
      },
    ],

    name: {
      fr: "Avenue Newark",
      en: "Newark Avenue",
    },
    description: {
      fr: "",
      en: "Pedestrianisation attracted more people and allowed more businesses to open.",
    },
    location: {
      fr: "Jersey City (New Jersey)",
      en: "Jersey City, New Jersey",
    },
    body: {
      fr: ``,

      en: `First trialled in 2014, Jersey City closed a block of Newark Avenue to cars on afternoons and weekends. Though it got mixed reviews from business owners and residents of the block, pedestrians and bicyclists were happy, and the city pedestrianized the street in 2015.
        
In 2018, the plaza was expanded to 400 metres in length, and in 2022, a USD$7 million renovation was completed, adding new benches, bike racks, vegetation, trees, and a stage for community events. The city also raised the street with granite pavers for universal accessibility. 

According to Jersey City's mayor, Steven Fulop: “The creation of the Pedestrian Plaza was a risk our administration took when first elected as there was significant pushback, but I think over time it has become clear to everyone that the changes we made there have attracted more people, allowed more businesses to open, and created a destination spot for visitors and residents.”`,
    },
  },
  {
    images: [
      {
        src: "stroget-1.jpg",
        alt: {
          fr: "",
          en: "A busy, crowded day on the central square of Strøget. A bicycle is parked in the forground with buildings and a church tower in the background.",
        },
      },
      {
        src: "stroget-2.jpg",
        alt: {
          fr: "",
          en: "A busy, day on the central square of Strøget, with people walking in all directions.",
        },
      },
      {
        src: "stroget-3.jpg",
        alt: {
          fr: "",
          en: "The same location in a historic photo. Vintage cars and a bus head in different directions at the intersection. People are walking on the sidewalk, including a woman walking her bike.",
        },
      },
    ],

    name: {
      fr: "Strøget",
      en: "Strøget",
    },
    description: {
      fr: "",
      en: "The courage of visionary city leaders allows a cultural hub to flourish.",
    },
    location: {
      fr: "Copenhague (Danemark)",
      en: "Copenhagen, Denmark",
    },
    body: {
      fr: ``,

      en: `At over 1km, Strøget is among the longest pedestrian streets in Europe. Part of Copenhagen's several kilometers of pedestrian streets, its transformation in 1962 marked the start of a cultural shift in the way of life for those in the city. Cars were taking over, fewer people were cycling and the city was congested and polluted. 
        
At its conception, the idea of a pedestrian street was not generally accepted. The slogan and rallying cry of those opposed was that "Danes are not Italians", as Copenhagen lacked the outdoor social culture seen elsewhere in Europe. People feared the change would be a disaster for the businesses in the street. 
      
The town planner, Alfred Wassard, even faced death threats. Visionary political decision-making was needed and the determination of key politicians was vital for this successful transformation of the street and city. The success of the initial pedestrianized section led to the expansion of Strøget's car-free area, which in turn contributed to the transformation of the area into a cultural hub for the city. In the 1990s, they expanded the car-free area once again.
`,
    },
  },
  {
    images: [
      {
        src: "church-1.jpg",
        alt: {
          fr: "",
          en: "A fall day on Church street. Young people are socializing on the tree-lined brick street. A man is resting on a bench with his dog.",
        },
      },
      {
        src: "church-2.jpg",
        alt: {
          fr: "",
          en: "A beautiful aerial photo of Church street on a summer day. The street is hosting a community yoga event. A large group of women are sitting on yoga mats peforming a pose in unison, with the church tower in the background. ",
        },
      },
      {
        src: "church-3.jpg",
        alt: {
          fr: "",
          en: "A couple on Church street looking each other in the eyes, posing with their bicycles by their sides.",
        },
      },
    ],

    name: {
      fr: "Church Street",
      en: "Church Street",
    },
    description: {
      fr: "",
      en: "A case study in community revitalization.",
    },
    location: {
      fr: "Burlington (Vermont)",
      en: "Burlington, Vermont",
    },
    body: {
      fr: ``,

      en: `With a population density one sixth of Verdun's, Burlington's Church street is a shining example of a small city pedestrian street in a cold climate. It is also an interesting case study in urban redevelopment.
        
Inspired by the changes seen in Copenhagen, Church Street started as a one-day street fair sponsored by the Merchants Association in 1970. City leaders wanted to combat the declining economic vitality of Burlington's downtown area, and create a more vibrant and attractive urban space. After a successful one-day trial, the following year, the street was pedestrianized for a week, with transit added on surrounding streets. 
      
The experiment was an obvious success, and after years of dialogue and planning, it was transformed into a permanent pedestrian street. Today, millions of visitors come to socialize, celebrate, pass time, and shop at one of over a hundred shops and restaurants on the street.`,
    },
  },
  {
    images: [
      {
        src: "sauchiehall-1.jpg",
        alt: {
          fr: "",
          en: "People walking with umbrellas on a brick-lined street bound by historic buildings and banners on a rainy day.",
        },
      },
      {
        src: "sauchiehall-2.jpg",
        alt: {
          fr: "",
          en: "People walking on the brick-lined street. An elderly couple walking together in the foreground. Friends are sitting and chatting on a bench in the middle of the street.",
        },
      },
      {
        src: "sauchiehall-3.jpg",
        alt: {
          fr: "",
          en: "People walking on a stormy winter day. The street is covered in a thin layer of snow. A couple people are carting luggage in the foreground.",
        },
      },
    ],

    name: {
      fr: "Les rues Sauchiehall, Argyle & Buchanan",
      en: "Sauchiehall, Argyle & Buchanan streets",
    },
    description: {
      fr: "",
      en: "Adapting to a city's changing needs.",
    },
    location: {
      fr: "Glasgow (Écosse)",
      en: "Glasgow, Scotland",
    },
    body: {
      fr: ``,

      en: `Pedestrizanized in the 1970s, this network of streets in downtown Glasgow covers an extensive area of the rainy, northern city. In 1999, Buchanan street was repaved with high quality granite stonework and decorative lighting.

Due to changing consumer behaviours, the street's 20 year old shopping mall, Buchanan Galleries, is scheduled to be demolished and replaced with mixed-use buildings, including residences. This allows the city to extend the Sauchiehall pedestrian area to the east of the city, improving connectivity and safety. Proposed options for this new development include the creation of a public park or pavilion that would enable cultural and community events and activities to take place.

This change shows how cities can adapt their zoning and commercial activity to add more walkable mixed-use public spaces. These changes support residents, encourage visitors, and increase the vitality of Glasgow's community life.`,
    },
  },
  {
    images: [
      {
        src: "sparks-1.jpg",
        alt: {
          fr: "",
          en: "A woman walking on Sparks street. A variety of historic and modern buildings line the street. The ornate street lamps are decorated with bundles of pink flowers. Several other people are walking in the background, including a man holding a coffee.",
        },
      },
      {
        src: "sparks-2.jpg",
        alt: {
          fr: "",
          en: "A couple walking with their children on a winter day. To their side is a large ice sculpture of a fish rising from the water.",
        },
      },
      {
        src: "sparks-3.jpg",
        alt: {
          fr: "",
          en: "A black and white historic photo of Sparks Street. The street is lined with telephone poles and wires overhead. A man rides a bicycle in the foreground. A streetcar approches in the background with workers clearing the dirt road and tracks of debris.",
        },
      },
    ],
    name: {
      fr: "Rue Sparks",
      en: "Sparks Street",
    },
    description: {
      fr: "",
      en: "Canada's first pedestrian street.",
    },
    location: {
      fr: "Ottawa (Ontario)",
      en: "Ottawa, Ontario",
    },
    body: {
      fr: ``,

      en: `Sparks Street is a main street of Ottawa. In 1967, it was the first in Canada to be converted to a pedestrian street. The decision to close the street to vehicular traffic was part of a larger initiative aimed at creating a more attractive and vibrant city center.
        
The 850m pedestrian street hosts a number of restaurants, shops, an outdoor market, street performances, art installations, and cultural celebrations, including an ice carving competition as part of the Winterlude annual festival.

Sparks Street is also home to several historic, institutional, and office buildings, though their large footprint and presence have been critiqued for impacting life on the street, especially on weekends. As in Montreal's downtown, the addition of residential units is expected to improve the neighbourhood's vitality. `,
    },
  },
  {
    images: [
      {
        src: "state-1.jpg",
        alt: {
          fr: "",
          en: "A tree-lined State street on a summer day. People are walking in different directions. In the background, a couple of delivery vehicles are parked to the side, with the state capitol building in the distance.",
        },
      },
      {
        src: "state-2.jpg",
        alt: {
          fr: "",
          en: "A quieter day on State street. People walk on the street in different directions. A car crosses an intersection near a food stand set up by the edge of the street.",
        },
      },
      {
        src: "state-3.jpg",
        alt: {
          fr: "",
          en: "A view of the capitol building and its steps from State street. A group of cyclists and a skateboarder use the middle of the street, with many other people walking, sitting, and socializing on the raised sidewalks. ",
        },
      },
    ],

    name: {
      fr: "State Street",
      en: "State Street",
    },
    description: {
      fr: "",
      en: "A pedestrian street that allows buses.",
    },
    location: {
      fr: "Madison (Wisconsin)",
      en: "Madison, Wisconsin",
    },
    body: {
      fr: ``,

      en: `Though it generally receives less snow compared to Montreal, Wisconsin's capital city of Madison also has cold winters and notable snowfall. 

Spanning the same length as Wellington at 1.2 kilometres, Madison's State Street was converted into a pedestrian street in 1974. The street is home to a variety of shops, bars, and restaurants. It is popular for its small-town appeal, theaters, art galleries, and music venues.
        
On Halloween, State Street hosts Freakfest, a city-sponsored Halloween festival attended by a costumed crowd of tens of thousands of people.

Part of State Street's pedestrian zone has been served by city buses, with service deviated in summer 2023 as part of a trial to maximize space for activities and on-street dining.`,
    },
  },
];
---

<Layout title={t("aroundTheWorldHeading")}>
  <Header />
  <main>
    <section class="go-home">
      <a href={l("/")}>👈 {t("goHome")}</a>
    </section>
    <section>
      <h2>{t("aroundTheWorldHeading")}</h2>
      <p>{t("aroundTheWorldBody")}</p>
    </section>
    <section class="full-width-mobile">
      <div class="street-cards">
        {
          streets.map((street) => {
            const { images, name, description, location, body } = street;

            return (
              <div class="street-card">
                <div class="images">
                  {images.map(({ src, alt }) => (
                    <img
                      src={`/img/around-the-world/${src}`}
                      alt={alt[langCode]}
                      loading="lazy"
                    />
                  ))}
                </div>
                <div class="image-dots">
                  {images.map(({ src }) => (
                    <button class="image-dot" data-src={src} />
                  ))}
                </div>
                <div class="street-card-body">
                  <h3 class="name">{name[langCode]}</h3>
                  <h4 class="location">{location[langCode]}</h4>
                  <h4 class="description">{description[langCode]}</h4>
                  <p class="body" set:html={body[langCode]} />
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script is:inline>
const $streetCards = document.querySelectorAll(".street-cards");
const scrollIntoView = ($el) => {
  $el.scrollIntoView({ block: "nearest" });
};

$streetCards.forEach(($streetCard) => {
  const $cardImages = $streetCard.querySelectorAll(".images img");
  const $imageButtons = $streetCard.querySelectorAll(".image-dot");

  $cardImages.forEach(($cardImage, i) => {
    const $imageButton = $imageButtons[i];

    $cardImage.addEventListener("click", () => {
      const $nextImg =
        $cardImage.nextElementSibling ||
        $cardImage.parentElement.firstElementChild;

      scrollIntoView($nextImg);
    });

    $imageButton.addEventListener("click", () => {
      // TODO mobile $cardImage should be next image ?

      scrollIntoView($cardImage);
    });

    const observer = new IntersectionObserver(
      ([entry]) => {
        $imageButton.classList.toggle("active", entry.isIntersecting);
      },
      {
        root: $streetCard,
        threshold: 0.5,
      }
    );
    observer.observe($cardImage);
  });
});
</script>

<style>
  section.full-width-mobile {
    margin: 0rem;
  }
  @media (min-width: 780px) {
    section.full-width-mobile {
      margin: 0rem auto;
      /* max-width: 1024px; */
      max-width: calc(1024px + 2rem);
      padding: 1rem;
    }
  }

  .street-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
  }
  @media (min-width: 780px) {
    .street-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  .street-card .images {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* ff */
  }

  .street-card .images::-webkit-scrollbar {
    display: none; /* webkit */
  }

  .street-card img {
    width: 100%;
    min-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: bottom;
    scroll-snap-align: center;
  }

  .street-card .image-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }

  .street-card .image-dot {
    display: block;
    appearance: none;
    padding: 0;
    border: 0;
    background-color: var(--color-text);
    opacity: 0.5;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 100ms;
  }

  .street-card .image-dot.active {
    opacity: 1;
  }

  .street-card-body {
    margin: 0 1rem;
  }

  @media (min-width: 780px) {
    .street-card-body {
      margin: 0;
      margin-right: 1rem;
    }
  }

  .street-card .description {
    margin-block: 0;
  }

  .street-card .name {
    margin-block-start: 1rem;
    margin-block-end: 0;
  }

  .street-card .location {
    margin-top: 0;
  }

  .street-card .body {
    white-space: pre-line;
  }
</style>
