---
import { astroI18n, t, l } from "astro-i18n";
import Layout from "../../components/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Street } from "../../../types";

astroI18n.init(Astro);

const { langCode } = astroI18n;

const streets: Street[] = [
  {
    images: [
      {
        src: "ste-catherine-1.jpg",
        alt: {
          fr: "La rue Sainte-Catherine animée et ouverte aux piétons par temps froid. De nombreux kiosques, un sapin et des décorations festives sont installés dans la rue. La circulation automobile est visible au loin aux limites de la zone piétonne.",
          en: "A crowded Sainte Catherine street open to pedestrians on a cold day. A number of food stalls, a pine tree and festive decorations are set up in the street. Car traffic is visible in the distance at the limits of the pedestrian zone.",
        },
      },
      {
        src: "ste-catherine-2.jpg",
        alt: {
          fr: "Une nuit d'hiver sur la zone piétonne de la rue Sainte-Catherine. La rue est éclairée par des lumières bleues intenses. Les gens marchent devant l'entrée de la Place des arts. Un tas de neige est soigneusement poussé sur le côté.",
          en: "A winter night on the pedestrian zone of Saint Catherine street. The street is illuminated with intense blue lights. People walk in front of the entrance of Place des arts. A mound of plowed snow is pushed neatly to the side.",
        },
      },
      {
        src: "quartier-chinois-1.jpg",
        alt: {
          fr: "La zone piétonne animée de la rue de la Gauchetière dans le quartier chinois par une journée d'hiver brumeuse. Les portes du quartier et les immeubles du centre-ville sont visibles au loin. Des restaurants et des magasins bordent la rue avec des gens qui mangent et font du lèche-vitrines.",
          en: "The busy pedestrian zone of de la Gauchetiere street in Chinatown on a hazy winter day. The gates to the neighbourhood and buildings downtown are seen in the distance. Restaurants and shops line the street with people eating and window shopping.",
        },
      },
    ],

    name: {
      fr: "Les rues piétonnes chez nous",
      en: "Pedestrian streets at home",
    },
    description: {
      fr: "Marcher sur nos propres traces.",
      en: "Following in our own footsteps.",
    },
    location: {
      fr: "Montréal (Québec)",
      en: "Montreal, Quebec",
    },
    body: {
      fr: `Montréal accueille déjà plusieurs zones piétonnes récurrentes et permanentes. La rue Sainte-Catherine, dans le Quartier des Spectacles, entre De Bleury et le boulevard Saint-Laurent, est actuellement à l'essai comme rue piétonne à long terme.
        
La rue De la Gauchetière dans le quartier chinois est piétonne depuis le milieu des années 80, tout comme la rue Prince-Arthur au Plateau.

Depuis quelques années, Montréal a piétonnisé plus de huit kilomètres de rues pendant les mois d'été, dont l'avenue Mont-Royal et la rue Wellington. La Ville a également annoncé son intention de piétonniser une partie du Vieux-Montréal au cours des prochaines années.

Montréal est une ville active et festive avec des rues animées et une culture de la restauration. Elle dispose d'un système de transport en commun étendu, d'une culture cycliste croissante et ses élu.e.s se sont engagé.e.s à réduire la priorité des voitures en ville.`,

      en: `Montreal is already home to several long term, recurring and permanent pedestrian zones. Rue Sainte-Catherine in Quartier des Spectacles, between De Bleury and boulevard Saint-Laurent, is currently being trialed as a long term pedestrian street.
        
De la Gauchetière in Chinatown has been pedestrianized since the mid-1980s, along with Rue Prince-Arthur in the Plateau.

For the past few years, Montreal has pedestrianized over 8 kilometers of streets in the summer months, including Avenue Mont-Royal and Rue Wellington. The city has also announced plans to pedestrianise part of Old Montreal over the coming years.

Montreal is an active and festive city with lively streets and a culture of dining out. It has a popular transit system, growing cycling culture, and its elected officials have made commitments to reducing the priority of passenger cars.
`,
    },
  },
  {
    images: [
      {
        src: "pearl-1.jpg",
        alt: {
          fr: "Une nuit d'hiver sur Pearl Street. Des arbres nus décorés de lumières de Noël bordent le milieu de la rue. Un tableau d'affichage et un kiosque à journaux sont au premier plan, avec quelques personnes marchant et socialisant près des devantures de magasins au loin.",
          en: "A winter night on Pearl street. Bare trees decorated with Christmas lights line the middle of the street. A bulletin board and newspaper stand are in the foreground, with few people walking and socializing by the storefronts in the distance.",
        },
      },
      {
        src: "pearl-2.jpg",
        alt: {
          fr: "Enfants jouant dans le bac à sable de Pearl Street. Un garçon escalade une statue en laiton représentant une grenouille au premier plan, avec une fille et des mères assises sur le côté.",
          en: "Children playing in Pearl street's sandbox. A boy is climbing a brass statue of a frog in the foreground, with a girl and mothers sitting on the side.",
        },
      },
      {
        src: "pearl-3.jpg",
        alt: {
          fr: "Pearl Street est déneigée par un petit chasse-neige lors d'une journée d'hiver orageuse.",
          en: "Pearl street being plowed by a small snowplow on a stormy winter day.",
        },
      },
    ],

    name: {
      fr: "Pearl Street Mall",
      en: "Pearl Street Mall",
    },
    description: {
      fr: "Une rue entièrement piétonne dans une ville plus enneigée que Montréal.",
      en: "A fully pedestrianized street in a city snowier than Montreal.",
    },
    location: {
      fr: "Boulder (Colorado)",
      en: "Boulder, Colorado",
    },
    body: {
      fr: `Nommé l'un des « grands espaces publics » d'Amérique par American Planning Association, le Pearl Street Mall à Boulder, au Colorado, est une rue commerciale qui accueille une variété d'entreprises et de restaurants locaux. Il a été transformé en 1977 dans le but de revitaliser le quartier historique menacé par les centres commerciaux aux banlieues.

La rue regorge d'art public, notamment de fontaines et de sculptures, ainsi que d'un bac à sable et d'aires de jeux pour les enfants. Pendant les mois d'été, la rue est une scène pour les artistes et musiciens de rue.

Malgré les hivers extrêmes de la ville, avec 12 % de neige de plus par an qu'à Montréal, le centre commercial Pearl Street de Boulder démontre à quel point de tels espaces sont adaptables et réalisables, quel que soit le climat.`,

      en: `Named one of America's "Great Public Spaces" by the American Planning Association, the Pearl Street Mall in Boulder, Colorado is a commercial street that hosts a variety of local businesses and restaurants. It was transformed in 1977 as a means to revitalize the historic district threatened by suburban-style shopping centers. 

The street is filled with public art, including fountains and sculptures as well as a sandbox and play areas for children. During the summer months, the street is a stage for street performers and musicians.

Despite the city's extreme winters, with 12% more snow per year than Montreal, Boulder's Pearl Street Mall demonstrates how such spaces are adaptable and feasible no matter the climate.`,
    },
  },
  {
    images: [
      {
        src: "newark-1.jpg",
        alt: {
          fr: "Un couple marchant sur Avenue Newark la nuit avec des guirlandes lumineuses suspendues au-dessus de la rue",
          en: "A couple walking on Newark ave at night with string lights hanging above the street",
        },
      },
      {
        src: "newark-2.jpg",
        alt: {
          fr: "Les gens marchent et dînent sur Avenue Newark. Une personne promenant un chien au premier plan. Ville de Jersey visible en arrière-plan.",
          en: "People walking and dining on Newark ave. A person walking a dog in the foreground. Jersey city visible in the background.",
        },
      },
      {
        src: "newark-3.jpg",
        alt: {
          fr: "Un couple marchant en short, un garçon sur un scooter et une mère poussant une poussette sur une Avenue Newark bordée d'arbres.",
          en: "A couple walking in shorts, a boy on a scooter, and a mother pushing a stroller on a tree-lined Newark ave.",
        },
      },
    ],

    name: {
      fr: "Avenue Newark",
      en: "Newark Avenue",
    },
    description: {
      fr: "La piétonnisation a attiré plus de monde et a permis à davantage d'entreprises d'ouvrir.",
      en: "Pedestrianisation attracted more people and allowed more businesses to open.",
    },
    location: {
      fr: "Jersey City (New Jersey)",
      en: "Jersey City, New Jersey",
    },
    body: {
      fr: `Testé pour la première fois en 2014, Jersey City a fermé une partie de Newark Avenue aux voitures l'après-midi et le weekend. Bien que la rue ait reçu des critiques mitigées de la part des propriétaires d'entreprises et des résidents du quartier, les piétons et les cyclistes étaient satisfaits et la ville a piétonnisé la rue en 2015.
        
En 2018, la place a été agrandie jusqu'à 400 mètres de long et en 2022, une rénovation de 7 millions de dollars a été achevée, ajoutant de nouveaux bancs, supports à vélos, de la végétation, des arbres et une scène pour les évènements communautaires. La ville a également surélevé la rue avec des pavés de granite pour une accessibilité universelle.

Selon le maire de Jersey City, Steven Fulop : « La création de la place piétonne était un risque que notre administration a pris lors de notre premier mandat. Il y a eu des résistances importantes, mais je pense qu'au fil du temps, il est devenu clair pour tout le monde que les changements que nous y avons apportés ont attiré plus de personnes, ont permis à davantage d’entreprises d’ouvrir et ont créé une destination pour les visiteurs et les résidents. »`,

      en: `First trialled in 2014, Jersey City closed a block of Newark Avenue to cars on afternoons and weekends. Though it got mixed reviews from business owners and residents of the block, pedestrians and bicyclists were happy, and the city pedestrianized the street in 2015.
        
In 2018, the plaza was expanded to 400 metres in length, and in 2022, a USD$7 million renovation was completed, adding new benches, bike racks, vegetation, trees, and a stage for community events. The city also raised the street with granite pavers for universal accessibility. 

According to Jersey City's mayor, Steven Fulop: “The creation of the Pedestrian Plaza was a risk our administration took when first elected as there was significant pushback, but I think over time it has become clear to everyone that the changes we made there have attracted more people, allowed more businesses to open, and created a destination spot for visitors and residents.”`,
    },
  },
  {
    images: [
      {
        src: "stroget-1.jpg",
        alt: {
          fr: "Une journée chargée et bondée sur la place centrale de Strøget. Un vélo est garé au premier plan avec des bâtiments et un clocher d'église en arrière-plan.",
          en: "A busy, crowded day on the central square of Strøget. A bicycle is parked in the forground with buildings and a church tower in the background.",
        },
      },
      {
        src: "stroget-2.jpg",
        alt: {
          fr: "Une journée bien remplie sur la place centrale de Strøget, avec des gens marchant dans toutes les directions.",
          en: "A busy, day on the central square of Strøget, with people walking in all directions.",
        },
      },
      {
        src: "stroget-3.jpg",
        alt: {
          fr: "Le même endroit sur une photo historique. Des voitures anciennes et un bus partent dans des directions différentes à l’intersection. Des gens marchent sur le trottoir, dont une femme qui marche à vélo.",
          en: "The same location in a historic photo. Vintage cars and a bus head in different directions at the intersection. People are walking on the sidewalk, including a woman walking her bike.",
        },
      },
    ],

    name: {
      fr: "Strøget",
      en: "Strøget",
    },
    description: {
      fr: "Le courage des élus visionnaires permet à un pôle culturel de prospérer.",
      en: "The courage of visionary city leaders allows a cultural hub to flourish.",
    },
    location: {
      fr: "Copenhague (Danemark)",
      en: "Copenhagen, Denmark",
    },
    body: {
      fr: `Avec plus d'un kilomètre, Strøget fait partie des rues piétonnes les plus longues d'Europe. Faisant partie des multiples kilomètres de rues piétonnes de Copenhague, sa transformation en 1962 a marqué le début d'un changement culturel dans le mode de vie des citadins. Les voitures prenaient le relai, moins de gens faisaient du vélo et la ville était encombrée et polluée.
        
À sa conception, l’idée d’une rue piétonne n’était généralement pas acceptée. Le slogan et le cri de ralliement des opposants étaient que « les Danois ne sont pas des Italiens », car Copenhague n'avait pas la culture sociale du plein air que l'on retrouve ailleurs en Europe. Les gens craignaient que ce changement soit un désastre pour les commerces de la rue.
      
L'urbaniste du ville, Alfred Wassard, a même été menacé de mort. Une prise de décision politique visionnaire était nécessaire et la détermination des hommes politiques clés était vitale pour cette transformation réussie de la rue et de la ville. Le succès de la première section piétonne a conduit à l'expansion de la zone piétonne de Strøget, qui à son tour a contribué à la transformation du quartier en un pôle culturel de la ville. Dans les années 1990, ils ont de nouveau étendu la zone interdite aux voitures.`,

      en: `At over 1km, Strøget is among the longest pedestrian streets in Europe. Part of Copenhagen's several kilometers of pedestrian streets, its transformation in 1962 marked the start of a cultural shift in the way of life for those in the city. Cars were taking over, fewer people were cycling and the city was congested and polluted. 
        
At its conception, the idea of a pedestrian street was not generally accepted. The slogan and rallying cry of those opposed was that "Danes are not Italians", as Copenhagen lacked the outdoor social culture seen elsewhere in Europe. People feared the change would be a disaster for the businesses in the street. 
      
The town planner, Alfred Wassard, even faced death threats. Visionary political decision-making was needed and the determination of key politicians was vital for this successful transformation of the street and city. The success of the initial pedestrianized section led to the expansion of Strøget's car-free area, which in turn contributed to the transformation of the area into a cultural hub for the city. In the 1990s, they expanded the car-free area once again.
`,
    },
  },
  {
    images: [
      {
        src: "church-1.jpg",
        alt: {
          fr: "Un jour d’automne sur Church Street. Les jeunes socialisent dans la rue en brique bordée d’arbres. Un homme se repose sur un banc avec son chien.",
          en: "A fall day on Church street. Young people are socializing on the tree-lined brick street. A man is resting on a bench with his dog.",
        },
      },
      {
        src: "church-2.jpg",
        alt: {
          fr: "Une belle photo aérienne de Church Street un jour d'été. La rue accueille un événement de yoga communautaire. Un grand groupe de femmes sont assises sur des tapis de yoga et prennent la pose à l’unisson, avec le clocher de l’église en arrière-plan.",
          en: "A beautiful aerial photo of Church street on a summer day. The street is hosting a community yoga event. A large group of women are sitting on yoga mats peforming a pose in unison, with the church tower in the background. ",
        },
      },
      {
        src: "church-3.jpg",
        alt: {
          fr: "Un couple sur Church Street se regarde dans les yeux, posant avec leurs vélos à leurs côtés.",
          en: "A couple on Church street looking each other in the eyes, posing with their bicycles by their sides.",
        },
      },
    ],

    name: {
      fr: "Church Street",
      en: "Church Street",
    },
    description: {
      fr: "Une étude de cas en revitalisation communautaire.",
      en: "A case study in community revitalization.",
    },
    location: {
      fr: "Burlington (Vermont)",
      en: "Burlington, Vermont",
    },
    body: {
      fr: `Avec une densité de population urbaine représentant un sixième de celle de Verdun, Church Street de Burlington est un brillant exemple de rue piétonne de petite ville dans un climat froid. Il s’agit également d’une étude de cas intéressante en matière de réaménagement urbain.
        
Inspirée par les changements observés à Copenhague, Church Street a débuté comme un festival de rue d'une journée fait par la société de commerçants en 1970. Les dirigeants de la ville voulaient lutter contre le déclin de la vitalité économique du centre-ville de Burlington et créer un espace urbain plus dynamique et attrayant. Après un essai d'une journée, l'année suivante, la rue est devenue piétonne pendant une semaine, avec l'ajout de transports en commun dans les rues environnantes.
      
L’expérience a été un succès évident et après des années de dialogue et de planification, elle a été transformée en rue piétonne permanente. Aujourd'hui, des millions de visiteurs viennent socialiser, faire la fête, passer le temps et magasiner dans l'un des multiples magasins et restaurants de la rue.`,

      en: `With a city population density one sixth of Verdun's, Burlington's Church street is a shining example of a small city pedestrian street in a cold climate. It is also an interesting case study in urban redevelopment.
        
Inspired by the changes seen in Copenhagen, Church Street started as a one-day street fair sponsored by the Merchants Association in 1970. City leaders wanted to combat the declining economic vitality of Burlington's downtown area, and create a more vibrant and attractive urban space. After a successful one-day trial, the following year, the street was pedestrianized for a week, with transit added on surrounding streets. 
      
The experiment was an obvious success, and after years of dialogue and planning, it was transformed into a permanent pedestrian street. Today, millions of visitors come to socialize, celebrate, pass time, and shop at one of over a hundred shops and restaurants on the street.`,
    },
  },
  {
    images: [
      {
        src: "sauchiehall-1.jpg",
        alt: {
          fr: "Des gens marchant avec des parapluies dans une rue en briques bordée de bâtiments historiques et de bannières un jour de pluie.",
          en: "People walking with umbrellas on a brick-lined street bound by historic buildings and banners on a rainy day.",
        },
      },
      {
        src: "sauchiehall-2.jpg",
        alt: {
          fr: "Des personnes marchant dans la rue. Un couple de personnes âgées marchant ensemble au premier plan. Des amis sont assis et discutent sur un banc au milieu de la rue.",
          en: "People walking on the brick-lined street. An elderly couple walking together in the foreground. Friends are sitting and chatting on a bench in the middle of the street.",
        },
      },
      {
        src: "sauchiehall-3.jpg",
        alt: {
          fr: "Les gens marchent lors d’une journée d’hiver orageuse. La rue est recouverte d'une fine couche de neige. Quelques personnes transportent des bagages au premier plan.",
          en: "People walking on a stormy winter day. The street is covered in a thin layer of snow. A couple people are carting luggage in the foreground.",
        },
      },
    ],

    name: {
      fr: "Les rues Sauchiehall, Argyle & Buchanan",
      en: "Sauchiehall, Argyle & Buchanan streets",
    },
    description: {
      fr: "S’adapter aux besoins changeants d’une ville.",
      en: "Adapting to a city's changing needs.",
    },
    location: {
      fr: "Glasgow (Écosse)",
      en: "Glasgow, Scotland",
    },
    body: {
      fr: `Piétonnisé dans les années 1970, ce réseau de rues du centre-ville de Glasgow couvre une vaste zone de la ville pluvieuse du nord. En 1999, la rue Buchanan a été pavée avec des pierres de granite de haute qualité et un éclairage décoratif.

En raison de l'évolution des comportements des consommateurs, le centre commercial Buchanan Galleries, vieux de 20 ans, devrait être démoli et remplacé par des bâtiments à usage mixte, comprenant des résidences. Cela permet à la ville d'étendre la zone piétonne de Sauchiehall à l'est de la ville, améliorant ainsi la connectivité et la sécurité. Les options proposées pour ce nouveau développement comprennent la création d'un parc ou d'un pavillon public qui permettrait la tenue d'événements culturels et communautaires.

Ce changement montre comment les villes peuvent adapter leur zonage et leur activité commerciale pour ajouter davantage d’espaces publics à usage mixte accessibles à pied. Ces changements soutiennent les résidents, encouragent les visiteurs et augmentent la vitalité de la vie communautaire de Glasgow.`,

      en: `Pedestrizanized in the 1970s, this network of streets in downtown Glasgow covers an extensive area of the rainy, northern city. In 1999, Buchanan street was repaved with high quality granite stonework and decorative lighting.

Due to changing consumer behaviours, the street's 20 year old shopping mall, Buchanan Galleries, is scheduled to be demolished and replaced with mixed-use buildings, including residences. This allows the city to extend the Sauchiehall pedestrian area to the east of the city, improving connectivity and safety. Proposed options for this new development include the creation of a public park or pavilion that would enable cultural and community events and activities to take place.

This change shows how cities can adapt their zoning and commercial activity to add more walkable mixed-use public spaces. These changes support residents, encourage visitors, and increase the vitality of Glasgow's community life.`,
    },
  },
  {
    images: [
      {
        src: "sparks-1.jpg",
        alt: {
          fr: "Une femme marchant sur la rue Sparks. Une variété de bâtiments historiques et modernes bordent la rue. Les lampadaires ornés sont décorés de bouquets de fleurs roses. Plusieurs autres personnes marchent en arrière-plan, dont un homme tenant un café.",
          en: "A woman walking on Sparks street. A variety of historic and modern buildings line the street. The ornate street lamps are decorated with bundles of pink flowers. Several other people are walking in the background, including a man holding a coffee.",
        },
      },
      {
        src: "sparks-2.jpg",
        alt: {
          fr: "Un couple marchant avec leurs enfants un jour d'hiver. À leurs côtés se trouve une grande sculpture de glace représentant un poisson sortant de l’eau.",
          en: "A couple walking with their children on a winter day. To their side is a large ice sculpture of a fish rising from the water.",
        },
      },
      {
        src: "sparks-3.jpg",
        alt: {
          fr: "Une photo historique en noir et blanc de la rue Sparks. La rue est bordée de poteaux téléphoniques et de fils électriques. Un homme fait du vélo au premier plan. Un tramway s'approche en arrière-plan avec des ouvriers nettoyant le chemin de terre et la voie ferrée de débris.",
          en: "A black and white historic photo of Sparks Street. The street is lined with telephone poles and wires overhead. A man rides a bicycle in the foreground. A streetcar approches in the background with workers clearing the dirt road and its tracks of debris.",
        },
      },
    ],
    name: {
      fr: "Rue Sparks",
      en: "Sparks Street",
    },
    description: {
      fr: "La première rue piétonne au Canada.",
      en: "Canada's first pedestrian street.",
    },
    location: {
      fr: "Ottawa (Ontario)",
      en: "Ottawa, Ontario",
    },
    body: {
      fr: `La rue Sparks est une rue principale d'Ottawa. En 1967, elle fut la première au Canada à être transformée en rue piétonne. La décision de fermer la rue à la circulation automobile faisait partie d’une initiative plus vaste visant à créer un centre-ville plus attrayant et plus dynamique.
        
La rue piétonne de 850 m accueille plusieurs restaurants, des boutiques, un marché en plein air, des spectacles de rue, des installations artistiques et des festivals, notamment un concours de sculpture de glace dans le cadre du festival annuel du Bal de Neige.

La rue Sparks abrite également plusieurs immeubles historiques, institutionnels et bureaux, bien que leur grande empreinte et leur présence aient été critiquées pour leur impact sur la vie dans la rue, en particulier le weekend. Comme au centre-ville de Montréal, l'ajout d'unités résidentielles devrait améliorer la vitalité du quartier.`,

      en: `Sparks Street is a main street of Ottawa. In 1967, it was the first in Canada to be converted to a pedestrian street. The decision to close the street to vehicular traffic was part of a larger initiative aimed at creating a more attractive and vibrant city center.
        
The 850m pedestrian street hosts a number of restaurants, shops, an outdoor market, street performances, art installations, and cultural celebrations, including an ice carving competition as part of the Winterlude annual festival.

Sparks Street is also home to several historic, institutional, and office buildings, though their large footprint and presence have been critiqued for impacting life on the street, especially on weekends. As in Montreal's downtown, the addition of residential units is expected to improve the neighbourhood's vitality. `,
    },
  },
  {
    images: [
      {
        src: "state-1.jpg",
        alt: {
          fr: "State Street bordée d'arbres un jour d'été. Les gens marchent dans des directions différentes. À l’arrière-plan, quelques véhicules de livraison sont garés sur le côté, avec le bâtiment du Capitole de l’État au loin.",
          en: "A tree-lined State street on a summer day. People are walking in different directions. In the background, a couple of delivery vehicles are parked to the side, with the state capitol building in the distance.",
        },
      },
      {
        src: "state-2.jpg",
        alt: {
          fr: "Une journée plus calme sur State Street. Une voiture traverse une intersection à proximité d’un stand de restauration installé en bordure de rue.",
          en: "A quieter day on State street. People walk on the street in different directions. A car crosses an intersection near a food stand set up by the edge of the street.",
        },
      },
      {
        src: "state-3.jpg",
        alt: {
          fr: "Une vue du bâtiment du Capitole et de ses marches depuis State Street. Un groupe de cyclistes et un planchiste utilisent le milieu de la rue, tandis que de nombreuses autres personnes marchent, s'assoient et socialisent sur les trottoirs surélevés.",
          en: "A view of the capitol building and its steps from State street. A group of cyclists and a skateboarder use the middle of the street, with many other people walking, sitting, and socializing on the raised sidewalks. ",
        },
      },
    ],

    name: {
      fr: "State Street",
      en: "State Street",
    },
    description: {
      fr: "Une rue piétonne qui autorise les autobus.",
      en: "A pedestrian street that allows buses.",
    },
    location: {
      fr: "Madison (Wisconsin)",
      en: "Madison, Wisconsin",
    },
    body: {
      fr: `Même si elle reçoit généralement moins de neige qu'à Montréal, Madison, la capitale du Wisconsin a également des hivers froids et des chutes de neige notables.

S'étendant sur la même longueur que Wellington (1,2 km), State Street de Madison a été transformée en rue piétonne en 1974. La rue abrite une variété de boutiques, de bars et de restaurants. Elle est aussi populaire pour ses théâtres, ses galeries d'art et ses salles de concert.
        
À Halloween, State Street accueille le Freakfest, un festival parrainé par la ville auquel participent une foule costumée de dizaines de milliers de personnes.

Une partie de la zone piétonne de State Street a été desservie par des autobus, le service étant dévié à l'été 2023 dans le cadre d'un essai visant à maximiser l'espace pour les activités et les restaurants dans la rue.`,

      en: `Though it generally receives less snow compared to Montreal, Wisconsin's capital city of Madison also has cold winters and notable snowfall. 

Spanning the same length as Wellington at 1.2 kilometres, Madison's State Street was converted into a pedestrian street in 1974. The street is home to a variety of shops, bars, and restaurants. It is popular for its small-town appeal, theaters, art galleries, and music venues.
        
On Halloween, State Street hosts Freakfest, a city-sponsored Halloween festival attended by a costumed crowd of tens of thousands of people.

Part of State Street's pedestrian zone has been served by city buses, with service deviated in summer 2023 as part of a trial to maximize space for activities and on-street dining.`,
    },
  },
];
---

<Layout title={t("aroundTheWorldHeading")}>
  <Header />
  <main>
    <section class="full-width-mobile with-margin go-home">
      <a href={l("/")}>{t("goHome")}</a>
    </section>
    <section class="full-width-mobile with-margin">
      <h2>{t("aroundTheWorldHeading")}</h2>
    </section>
    <section class="full-width-mobile">
      <ul class="slider-cards">
        {
          streets.map((street) => {
            const { images, name, description, location, body } = street;

            return (
              <li class="slider-card">
                <div class="images">
                  {images.map(({ src, alt }) => (
                    <img
                      src={`/img/around-the-world/${src}`}
                      alt={alt[langCode]}
                    />
                  ))}
                </div>
                <div class="image-dots" aria-hidden="true">
                  {images.map(({ src }) => (
                    <button class="image-dot" data-src={src} />
                  ))}
                </div>
                <div class="slider-card-body">
                  <h3 class="name">{name[langCode]}</h3>
                  <h4 class="location">{location[langCode]}</h4>
                  <h4 class="description">{description[langCode]}</h4>
                  <p class="body" set:html={body[langCode]} />
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>

<script is:inline src="/js/slider-cards.js" defer></script>

<style>
  .slider-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
    list-style: none;
  }
  @media (min-width: 780px) {
    .slider-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  .slider-card .images {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* ff */
  }

  .slider-card .images::-webkit-scrollbar {
    display: none; /* webkit */
  }

  .slider-card img {
    width: 100%;
    min-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: bottom;
    scroll-snap-align: center;
  }

  .slider-card .image-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  .slider-card .image-dot {
    display: block;
    position: relative;
    appearance: none;
    padding: 0;
    border: 0;
    background-color: var(--color-text);
    opacity: 0.5;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 100ms;
  }

  .slider-card .image-dot::after {
    position: absolute;
    content: "";
    inset: -5px;
  }

  .slider-card .image-dot.active {
    opacity: 1;
  }

  .slider-card-body {
    margin: 0 1rem;
  }

  @media (min-width: 780px) {
    .slider-card-body {
      margin: 0;
      margin-right: 1rem;
    }
  }

  .slider-card .description {
    margin-block: 0;
  }

  .slider-card .name {
    margin-block-start: 1rem;
    margin-block-end: 0;
  }

  .slider-card .location {
    margin-top: 0;
  }

  .slider-card .body {
    white-space: pre-line;
  }
</style>
