---
import { astroI18n, t, l } from "astro-i18n";
import Layout from "../../components/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

astroI18n.init(Astro);

const { langCode } = astroI18n;

type Streets = {
  images: {
    src: string;
    alt: {
      [langCode: string]: string;
    };
  }[];
  lang: {
    [langCode: string]: {
      name: string;
      location: string;
      body: string;
    };
  };
}[];

const streets: Streets = [
  {
    images: [
      {
        src: "newark-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "newark-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "newark-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Avenue Newark",
        location: "Jersey City (New Jersey)",
        body: ``,
      },
      en: {
        name: "Newark Avenue",
        location: "Jersey City, New Jersey",
        body: `First trialed in 2014, Jersey City closed a block of Newark Avenue to cars on afternoons and weekends. Though it got mixed reviews from business owners and residents of the block, pedestrians and bicyclists were happy and the city pedestrianized the street in 2015.
        
        In 2018, the plaza was expanded to 400 metres in length. Then in 2022, a USD$7 million renovation was completed, adding new benches, bike racks, vegetation, trees, and a stage for community events. The city also raised the street with granite pavers for universal wheelchair and stroller accessibility. 

        “The creation of the Pedestrian Plaza was a risk our administration took when first elected as there was significant pushback, but I think over time it has become clear to everyone that the changes we made there have attracted more people, allowed more businesses to open, and created a destination spot for visitors and residents,” said Mayor Steven Fulop.
        `,
      },
    },
  },
  {
    images: [
      {
        src: "stroget-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "stroget-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "stroget-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Strøget",
        location: "Copenhague (Danemark)",
        body: ``,
      },
      en: {
        name: "Strøget",
        location: "Copenhagen, Denmark",
        body: `At over 1km, Strøget is among the longest pedestrian streets in Europe. Part of Copenhagen's several kilometers of pedestrian streets, its transformation in 1962 marked the start of a cultural shift in the way of life for those in the city. Cars were taking over, fewer people were cycling and the city was congested and polluted. 
        
        At its conception, the idea of a pedestrian street was not generally accepted. The slogan and rallying cry was that "Danes are not Italians", as Copenhagen lacked the outdoor social culture seen elsewhere in Europe. People feared the change would be a disaster for the businesses in the street. 
        
        The town planner, Alfred Wassard, even faced death threats. Visionary political decision-making was needed and the determination of key politicians was vital for this transformation to succeed.
        `,
      },
    },
  },
  {
    images: [
      {
        src: "church-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "church-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "church-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Church Street",
        location: "Burlington (Vermont)",
        body: ``,
      },
      en: {
        name: "Church Street",
        location: "Burlington, Vermont",
        body: `With a population density one sixth of Verdun's, Burlington's Church street is a shining example of a small city pedestrian street in a cold climate. 
        
        Inspired by the changes seen in Copenhagen, Church street started with a one-day street fair sponsored by the Merchants Association in 1970. The following year, the street was pedestrianized for a week, with transit added on surrounding streets. The experiment was an obvious success. 
        
        After years of dialogue and planning, the street was then made into a permanent pedestrian street. Today, millions of visitors come to socialize, celebrate, pass time, and shop at one of over a hundred shops and restaurants on the street.`,
      },
    },
  },
  {
    images: [
      {
        src: "pearl-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "pearl-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "pearl-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Pearl Street Mall",
        location: "Boulder (Colorado)",
        body: ``,
      },
      en: {
        name: "Pearl Street Mall",
        location: "Boulder, Colorado",
        body: `Named one of America's "Great Public Spaces" by the American Planning Association, the Pearl Street Mall in Boulder, Colorado is a commercial street that hosts a variety of local businesses and restaurants. It was transformed in 1977 as a means to revitalize the historic district which was threatened by suburban-style shopping centers. 
        
        The street is filled with public art, including numerous fountains and sculptures as well as a sandbox for children. During the summer months, the street is a stage for a number of street performers and musicians. 
        
        Despite the city's extreme winters, with 12% more snow per year than Montreal, Boulder's Pearl Street Mall demonstrates how such spaces are adaptable and feasible no matter the climate. 
        `,
      },
    },
  },

  {
    images: [
      {
        src: "sauchiehall-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sauchiehall-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sauchiehall-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Les rue Sauchiehall, Argyle & Buchanan",
        location: "Glasgow (Écosse)",
        body: ``,
      },
      en: {
        name: "Sauchiehall, Argyle & Buchanan streets",
        location: "Glasgow, Scotland",
        body: `Pedestrizanized in the 1970s, this network of streets in downtown Glasgow covers an extensive area of the rainy, northern city. In 1999, the entire street [Buchanan?] was repaved with high quality granite stonework and decorative lighting.

        Due to changing consumer [behaviour / preferences], In 2022, the street's 20 year old shopping mall, Buchanan Galleries, was [announced] to be demolished and replaced with mixed-use buildings, including residences. [+ details. apartments? what's replacing it?]

        This change shows how cities can adapt their zoning and commercial activity to support the vitality of walkable mixed-use public spaces.`,
      },
    },
  },
  {
    images: [
      {
        src: "sparks-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sparks-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sparks-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Rue Sparks",
        location: "Ottawa (Ontario)",
        body: ``,
      },
      en: {
        name: "Sparks Street",
        location: "Ottawa, Ontario",
        body: `Sparks street is a main street of Ottawa and the first in Canada to be converted to a pedestrian street in 1967. 
        
        The 850m pedestrian street hosts a number of restaurants, shops, and events throughout the year, including an ice carving competition as part of the Winterlude annual festival.

        It is also home to several historic, institutional, and office buildings, though their large footprint and presence have been critiqued for impacting life on the street, especially on weekends. As in Montreal's downtown, the addition of residential units is expected to improve the neighbourhood's vitality.`,
      },
    },
  },
  {
    images: [
      {
        src: "state-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "state-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "state-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "State Street",
        location: "Madison (Wisconsin)",
        body: ``,
      },
      en: {
        name: "State Street",
        location: "Madison, Wisconsin",
        body: `Spanning the same length as Wellington at 1.2 km. State street in Wisconsin's capital city Madison, is a pedestrian street converted from a four-lane road in 1974. The street hosts a variety of shops, bars, and restaurants and is popular for its small-town appeal, street musicians and performances, making it a popular tourist attraction. 
        
        On Halloween, State Street hosts Freakfest, a city-sponsored Halloween festival attended by a costumed crowd of tens of thousands of people.

        Part of State street's pedestrian zone is served by city buses, but in summer 2023 is trialing their removal to maximize space for on street dining and activites.`,
        // https://www.masstransitmag.com/management/news/53063956/wi-madison-inches-closer-to-testing-part-of-state-street-as-a-pedestrian-mall
      },
    },
  },
  {
    images: [
      {
        src: "ste-catherine-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "ste-catherine-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "quartier-chinois-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Les rues piétonnes chez nous",
        location: "Montréal (Québec)",
        body: `Dans le Quartier des spectacles, entre la rue De Bleury et le boulevard Saint-Laurent et incluant les rues Balmoral et Clark
        
        En permanence jusqu'au 30 avril 2024`,
      },
      en: {
        name: "Pedestrian streets at home",
        location: "Montreal, Quebec",
        body: `Montreal is already home to several long term, recurring and permanent pedestrian zones. 
        Rue Sainte-Catherine in Quartier des spectacles, between De Bleury and boulevard Saint-Laurent, is being trialed as a long term pedestrian street throughout the winter until April 2024.
        
        De la Gauchetière in Chinatown has been pedestrianized for several decades [since what decade?], along with Rue Prince-Arthur. 

        For the past few years, Montreal has pedestrianized over 8 kilometers of streets including Rue Wellington in the summer months, and has announced plans to pedestrianize part of Old Montreal over the coming years.

        Montreal is dynamic city with a culture of street life, festivities, dining out. It has a popular transit system and growing cycling culture. It has committed to reducing the use and priority of passenger cars. Pedestrian zones 
        `,
      },
    },
  },
];
---

<Layout title={t("aroundTheWorldHeading")}>
  <Header />
  <main>
    <section class="go-home">
      <a href={l("/")}>👈 {t("goHome")}</a>
    </section>
    <section>
      <h2>{t("aroundTheWorldHeading")}</h2>
      <p>
        {
          t(
            "A history and gallery of just some of the cities with year round pedestrian streets."
          )
        }
      </p>
    </section>
    <section class="full-width-mobile">
      <div class="street-cards">
        {
          streets.map((street) => {
            const { images } = street;
            const { name, location, body } = street.lang[langCode];

            return (
              <div class="street-card">
                <div class="images">
                  {images.map(({ src, alt }) => (
                    <img
                      src={`/img/around-the-world/${src}`}
                      alt={alt[langCode]}
                    />
                  ))}
                </div>
                <div class="image-buttons">
                  {images.map(({ src }) => (
                    <button class="image-button" data-src={src} />
                  ))}
                </div>
                <div class="street-card-body">
                  <h3 class="name">{name}</h3>
                  <p class="location">{location}</p>
                  <p class="body" set:html={body} />
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script is:inline>
const $streetCards = document.querySelectorAll(".street-cards");
const scrollIntoView = ($el) => {
  try {
    $el.scrollIntoViewIfNeeded();
  } catch (e) {
    $el.scrollIntoView();
  }
};

$streetCards.forEach(($streetCard) => {
  const $cardImages = $streetCard.querySelectorAll(".images img");
  const $imageButtons = $streetCard.querySelectorAll(".image-button");

  $cardImages.forEach(($cardImage) => {
    $cardImage.addEventListener("click", () => {
      const $nextImg =
        $cardImage.nextElementSibling ||
        $cardImage.parentElement.firstElementChild;

      scrollIntoView($nextImg);
    });
  });

  $imageButtons.forEach(($imageButton, i) => {
    $imageButton.addEventListener("click", () => {
      const $targetImg = $cardImages[i];
      // TODO mobile $targetImg should be next image ?

      scrollIntoView($targetImg);
    });
  });
});
</script>

<style>
  section.full-width-mobile {
    margin: 0rem;
  }
  @media (min-width: 780px) {
    section.full-width-mobile {
      margin: 0rem auto;
      /* max-width: 1024px; */
      max-width: calc(1024px + 2rem);
      padding: 1rem;
    }
  }

  .street-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
  }
  @media (min-width: 780px) {
    .street-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  .street-card .images {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .street-card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: bottom;
    scroll-snap-align: center;
  }

  .street-card .image-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }

  .street-card .image-button {
    display: block;
    appearance: none;
    padding: 0;
    border: 0;
    background-color: var(--color-text);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .street-card-body {
    margin: 0 1rem;
  }

  @media (min-width: 780px) {
    .street-card-body {
      margin: 0;
      margin-right: 1rem;
    }
  }

  .street-card .name {
    margin-block-start: 1rem;
    margin-block-end: 0;
  }

  .street-card .location {
    margin-top: 0;
  }

  .street-card .body {
    white-space: pre-line;
  }
</style>
