---
import { astroI18n, t, l } from "astro-i18n";
import Layout from "../../components/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

astroI18n.init(Astro);

const { langCode } = astroI18n;

type Streets = {
  images: { src: string; alt: { [langCode: string]: string } }[];
  lang: {
    [langCode: string]: {
      name: string;
      location: string;
      body: string;
    };
  };
}[];

const streets: Streets = [
  {
    images: [
      {
        src: "newark-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "newark-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "newark-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Avenue Newark",
        location: "Jersey City (New Jersey)",
        body: ``,
      },
      en: {
        name: "Newark Avenue",
        location: "Jersey City, New Jersey",
        body: `First trialed in 2014, Jersey City closed a block of Newark Avenue to cars on afternoons and weekends. Though it got mixed reviews from business owners and residents of the block, pedestrians and bicyclists were happy and the city brought it back in 2015.
        
        In 2018, the plaza was expanded to 400 metres in length. In 2022, a USD$7 million renovation was completed. Along with new benches, bike racks, a stage for community events, vegetation and trees, the city raised the street with granite pavers for universal wheelchair and stroller accessibility. 

        “The creation of the Pedestrian Plaza was a risk our administration took when first elected as there was significant pushback, but I think over time it has become clear to everyone that the changes we made there have attracted more people, allowed more businesses to open, and created a destination spot for visitors and residents,” said Mayor Steven Fulop.
        `,
      },
    },
  },
  {
    images: [
      {
        src: "stroget-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "stroget-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "stroget-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Strøget",
        location: "Copenhague (Danemark)",
        body: ``,
      },
      en: {
        name: "Strøget",
        location: "Copenhagen, Denmark",
        body: `At over 1km, Strøget is among the longest pedestrian streets in Europe. Part of Copenhagen's several kilometers of pedestrian streets, its transformation in 1962 marked the start of a cultural shift in the way of life for those in the city.
        
        There were protests back then. Cries of \"we're not Italians! We don't want to walk!\" were heard in the city. Shopkeepers feared for their businesses. Fortunately, the idea was implemented by the City of Copenhagen.
        
        This was a turning point in the modern life of Copenhagen. Cars were taking over, fewer people were cycling and the city was congested and polluted. Visionary political decision-making and urban planning was needed and it arrived. 
        `,
      },
    },
  },
  {
    images: [
      {
        src: "church-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "church-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "church-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Church Street",
        location: "Burlington (Vermont)",
        body: ``,
      },
      en: {
        name: "Church Street",
        location: "Burlington, Vermont",
        body: `With a population density one sixth of Verdun's, Burlington's Church street is a shining example of small city pedestrian streets in cold climates. 
        
        Inspired by the changes seen in Copenhagen, Church street started with a one-day street fair sponsored by the Merchants Association in 1970. The following year, the street was pedestrianized for a week, with transit added on surrounding streets. The experiment was an obvious success. 
        
        After years of dialogue and planning, the street was then made into a permanent pedestrian street. Today, millions of visitors come to socialize, celebrate, pass time, and shop at one of over a hundred shops and restaurants on the street.`,
      },
    },
  },
  {
    images: [
      {
        src: "pearl-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "pearl-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "pearl-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Pearl Street Mall",
        location: "Boulder (Colorado)",
        body: ``,
      },
      en: {
        name: "Pearl Street Mall",
        location: "Boulder, Colorado",
        body: `Named one of America's "Great Public Spaces" by the American Planning Association, the Pearl Street Mall in Boulder, Colorado is a commercial street that hosts variety of local businesses and restaurants. It was transformed in 1977 as a means to revitalize the historic district which was threatened by suburban-style shopping centers. 
        
        During the summer months, the street is a stage for a number of street performers and musicians. Boulder has extreme weather even by Montreal's standards - it receives 12% more snow per year than Montreal.
        `,
      },
    },
  },

  {
    images: [
      {
        src: "sauchiehall-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sauchiehall-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sauchiehall-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Les rue Sauchiehall, Argyle & Buchanan",
        location: "Glasgow (Écosse)",
        body: ``,
      },
      en: {
        name: "Sauchiehall, Argyle & Buchanan streets",
        location: "Glasgow, Scotland",
        body: `Pedestrizanized in the 1970s, this network of streets in downtown Glasgow covers an extensive area of the rainy, northern city. In 1999, the entire street was repaved with high quality granite stonework and decorative lighting.

        In 2022, the street's shopping mall, Buchanan Galleries, was [announced] to be demolished. due to changing economy  
        the Buchanan Galleries show how changes in industry requires changes in the street, with added residential.
          `,
      },
    },
  },
  {
    images: [
      {
        src: "sparks-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sparks-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "sparks-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Rue Sparks",
        location: "Ottawa (Ontario)",
        body: ``,
      },
      en: {
        name: "Sparks Street",
        location: "Ottawa, Ontario",
        body: `Sparks street is a main street in Ottawa and the first in Canada to be converted into a pedestrian street in 1967. The 850 m [pedestrian street] hosts a number of restaurants and shops, and several festivals throughout the year. 
        While the street is home to several historic and institutional buildings, their large footprint impact and use as offices has an impact on life on the street. As in Montreal's downtown, construction of new residences will serve to complete the neighbourhood and its vitality. `,
      },
    },
  },
  {
    images: [
      {
        src: "state-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "state-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "state-3.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "State Street",
        location: "Madison (Wisconsin)",
        body: ``,
      },
      en: {
        name: "State Street",
        location: "Madison, Wisconsin",
        body: `Spanning the same length as Wellington at 1.2 km. State in Wisconsin's capital city Madison, is a pedestrian street converted from a four-lane road in 1974. The street hosts a variety of shops, bars, and restaurants and is popular for its small-town appeal, street musicians, jugglers and other types of busking, making it a popular tourist attraction.
        State street allows city buses but there are proposals to limit the hours and days of service to `,
      },
    },
  },
  {
    images: [
      {
        src: "ste-catherine-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "ste-catherine-2.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
      {
        src: "quartier-chinois-1.jpg",
        alt: {
          fr: "",
          en: "",
        },
      },
    ],
    lang: {
      fr: {
        name: "Les rues piétonnes chez nous",
        location: "Montréal (Québec)",
        body: `Dans le Quartier des spectacles, entre la rue De Bleury et le boulevard Saint-Laurent et incluant les rues Balmoral et Clark
        
        En permanence jusqu'au 30 avril 2024`,
      },
      en: {
        name: "Pedestrian streets at home",
        location: "Montreal, Quebec",
        body: `An example here at home is Sainte-Catherine by Quartier des spectacles, between De Bleury and boulevard Saint-Laurent, including Balmoral and Clark streets. This long term pedestrian street hosts a number of 
        
        En permanence jusqu'au 30 avril 2024`,
      },
    },
  },
];
---

<Layout title={t("siteName")}>
  <Header />
  <main>
    <section>
      <h2>{t("aroundTheWorldHeading")}</h2>
      <!-- <h3>{t("year round pedestrian streets")}</h3> -->
      <div class="street-cards">
        {
          streets.map((street) => {
            const { images } = street;
            const { name, location, body } = street.lang[langCode];

            return (
              <div class="street-card">
                <div class="images">
                  {images.map(({ src, alt }) => (
                    <img
                      src={`/img/around-the-world/${src}`}
                      alt={alt[langCode]}
                    />
                  ))}
                </div>
                <h3 class="name">{name}</h3>
                <p class="location">{location}</p>
                <p class="body" set:html={body} />
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script is:inline>
  const $allImages = document.querySelectorAll(".images img");
  $allImages.forEach(($img) => {
    $img.addEventListener("click", () => {
      const $nextImg =
        $img.nextElementSibling || $img.parentElement.firstElementChild;
      try {
        $nextImg.scrollIntoViewIfNeeded();
      } catch (e) {
        $nextImg.scrollIntoView();
      }
    });
  });
</script>

<style>
  @media (min-width: 980px) {
    section {
      max-width: 1023px;
    }
  }

  .street-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    width: 100%;
  }
  @media (min-width: 780px) {
    .street-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  .street-card .images {
    width: 100%;
    aspect-ratio: 1;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .street-card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: bottom;
    scroll-snap-align: center;
  }

  .street-card .name {
    margin-bottom: 0;
  }

  .street-card .location {
    margin-top: 0;
  }

  .street-card .body {
    white-space: pre-line;
  }
</style>
